body
{
    background-color: rgb(30, 30, 30);
    overflow-x: hidden;
}

#title
{
    
    margin-top: 5%;
    text-align: center;
    transform: scale(150%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(246, 221, 34);
}

nav
{
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: rgb(217, 216, 216);
    margin: 20px 0px 0px 0px;
}

.dropbtn
{
    padding: 10px;
    margin: 10%;
    background-color: rgb(217, 216, 216);
    border-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.dropdown
{
    position: relative;
    display: inline-block;
}

.dropdown-content
{
    display: none;
    position: absolute;
    background-color: rgb(217, 216, 216);
    padding: 10px;
    top: 100%;
    z-index: 1;
}

.dropdown-content a
{
    display: block;
    color: black;
}

.dropdown:hover .dropdown-content
{
    display: block;
}

.dropdown-content a:link
{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.dropdown-content a:hover
{
   text-decoration-style: none;  
}

#intro
{
    text-align: center;
    padding-top: 10px;
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(217, 216, 216);
}

#index-meme {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

#aletazo
{
    color: rgb(30, 30, 30);
}

#aletazo p
{
    color: rgb(30, 30, 30);
}