body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
    color: indianred;
    transition: width 1s, height 1s, background-color 1s, color 1s, font-size 1s;
}

#box1:hover
{
    width: 30vw;
    height: 25vh;
    background-color: purple;
    color: yellow;
    font-size: 20pt;
    font-family: 'Courier New', Courier, monospace;

}


#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation-name: box2move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes box2move{
    from
    {
        margin: 0;
    }
    25%
    {
        margin-top: 0;
        margin-left: 75%;
    }
    50% 
    {
        margin-left: 75%;
        margin-top: 50%;  
    }
    75%
    {
        margin-left: 0;
        margin-top: 50%;
    }
    to 
    {
        margin: 0;
    }
}