html
{
    font-size: 14pt;
}

#header
{
    background-color: white;
    position: sticky;
    align-items: center;
    justify-content: left;
    top: -1px;
    display: flex;
    z-index: 1;
    border-bottom: 0.8em solid rgb(171, 171, 250);
}
h1
{
    font-size: 2.5em;
    top:  -1px;
    padding: 0.5em;
    text-align: left;
    justify-content: left;
    font-family: "century-gothic", sans-serif;
    font-weight: 800;
    font-style: normal;
    filter: drop-shadow(2.5px 2.5px 2px #786d59);

}

#title h2
{
   font-size: 1.2em;
   text-align: left;
   margin-left: 10vw;
   margin-right: 10vw;
   font-family: "century-gothic", sans-serif;
}

#title p
{
    font-size: 1em;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    font-family: "swear-display", serif;
    font-weight: 50;
    font-style: normal;
}

#title
{

    margin-bottom: 2em;
    padding: 3% 0 3% 0;
    background-color: lavender;
    filter: drop-shadow(0px 5px 5px rgb(65, 65, 114));
    align-items: center;
}

.show
{
    display: none;
    opacity: 0;
    transition: all 1s ease-in-out;
    font-size: 1em;
    text-align: justify;
    margin-left: 2em;
    margin-right: 2em;
}

.show h4
{
    font-size: 1.5em;
    text-align: center;
    transition: all 1s ease-in;
    font-family: "century-gothic", sans-serif;
    font-weight: 800;
    font-style: italic;
}


.show ul li
{
    position: inherit;
    text-align: left;
}

.showtitle
{
    display: block;
    justify-content: last-baseline;
    padding: 0.25em;
    transition: all 1s ease-in-out;
}

.showtitle h3
{
    font-size: 1.2em;
    transition: all 0.5s ease-in;
    text-align: center;
    font-family: "century-gothic", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.showtitle ul
{
    list-style-type: none;
}


.showtitle:hover h3
{
    font-size: 1.5em;
}

.showtitle:hover .show
{
    display: block;
    opacity: 1;
}

.showtitle:hover .show h4
{
    font-size: 1.6em;
}


.artistsandsongs
{
    text-align: center;
    font-size: 1.1em;
}

.artistsandsongs ul li
{
    text-align: center;
}


@media screen and (max-width: 399px) {

    h1 
    {
        font-size: 1.5em;
    }
    
    #title h2
    {
        font-size: 0.8em;
        text-align: justify;

    }

    #title p
    {
        font-size: 12pt;
        padding: 5%;
    }

    .show h4
    {
        font-size: 1.2em;
        text-align: center;
    }

    .showtitle h3 
    {
        display: flex;
        justify-content: center;
    }

    #shows .showtitle
    {
        height: 12vh;
        background-color: lavender;
        border-left: 10px solid rgb(171, 171, 250);
        border-radius: 5px;
        align-content: baseline;
        align-items: center;
        filter: drop-shadow(5px 5px 2.5px rgb(127, 127, 171));
        font-size: 0.7em;
        margin-bottom: 1em;
    }

    #shows .showtitle:hover
    {
        height: auto;
    }
}

@media screen and (min-width: 400px)
{
    #title p
    {
        margin-left: 20vw;
        margin-right: 20vw;
    }

    #shows
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: rows;
        gap: 2em; 
    }

    #shows .showtitle
    {
        height: 10vh;
        background-color: lavender;
        border-left: 10px solid rgb(171, 171, 250);
        border-radius: 5px;
        align-content: baseline;
        align-items: center;
        filter: drop-shadow(5px 5px 6px rgb(127, 127, 171));
    }
    #shows .show p
    {
        font-size:"swear-display", serif;
        font-weight: 50;
        font-style: normal;
    }

    #shows .showtitle:hover
    {
        height: auto;
    }
    


}