h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(246, 221, 34);
  text-align: center;
  font-weight: 200;
}

body {
  width: 640px;
  margin: 0 auto;
    background-color: rgb(30, 30, 30);
    overflow-x: hidden;

}

.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px;
  margin-bottom: 5px;
}

.displayed-img{
  width: 665px;
  height: 480px;
  position: inherit;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 665px;
  height: 480px;
  background-color: rgba(0,0,0,0);
}

button {
  border: 0;
  background: rgba(177, 222, 234, 0.6);
  font-size: 12pt;
  border: none;
  border-radius: 5px;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
  font-family: monospace;
}

.thumb-bar {
  width: 665px;
}

.thumb-bar img {
  display: block;
  width: 19.25%;
  float: left;
  align-items: center;
  cursor: pointer;
  border-left: rgb(246, 221, 34) solid 2.5px;
  border-right: rgb(246, 221, 34) solid 2.5px;
}